.container {
  text-align: center;
  box-shadow: 10px 10px 36px -4px rgba(5,5,5,1);
  width: 1000px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 5px;
}

.container img {
  border-radius: 50%;
}

p {
  width: 700px;
  margin: 0 auto;
  font-size: 25px;
  padding-top: 20px;
}

/*
  Para las clases se agrega un .
  Para los id se agrega un #
*/
